body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: lightseagreen;
}
label{
  grid-column: 1/2;
  align-items: baseline;
  margin: 2% 5% 2% 5%
}

h1 {
  grid-area: a;
  text-align: center;
  color: darkslategrey;
}
h4{
  background-color: transparent;
  text-align: center;
  color:white;
}
div{
  display:grid;
}

.container {
  display:block;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 30px;

}
.container-task{
  display: grid;
  grid-template-columns: 50%;
  gap:2vw;
  padding: 2vw;
  margin: 0 1vw;

}
.li-container{
  grid-row: 1/3;
  grid-column: 1/2;
  width:auto;
  background-color: rgb(190, 139, 139);
  border: 2px solid grey;
  border-radius: 5px;
}
.task-done{
  grid-row: 1/3;
  grid-column: 2/2;
  width:auto;
  background-color: rgb(105, 214, 101);
  border: 2px solid grey;
  border-radius: 5px;
}
.empty{
  grid-row: 3/3;
  grid-column: 1/2;
}
.empty p{
  word-break: break-all;
}

.tareasList {
  display:flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

form {
    display: block;
    grid-template-columns: auto auto;
    width:100%;
}

input {
  grid-column: 1/3;
  padding: 15px 10px;
  width: 80%;
  width: auto;
  outline: none;
}

.btn-add {
  grid-row: 2/4;
  grid-column: 3/3;
  padding: 5px 15px;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: fantasy;
  background-color: teal;
  font-size: 1.4rem;
  outline: none;
}
.btn-done {
  grid-column: 3/3;
  grid-row: 1/2;
  background-color: rgb(1, 172, 1);
  margin-left:auto;
  padding:5px 10px;
  border:none;
  border-radius:5px;
  color:white;
  font-weight: bold;
}
.btn-done:hover{
  background-color:rgb(0, 255, 149);
  cursor: pointer;
}

.div-btn {
  display: grid;
  grid-row: 1/2;
  grid-column: 3/3;
  justify-content: end;
}

.empty {
  color: darkslategrey;
}

ul {
  padding: 0;
}

li {
  display: grid;
  grid-template-columns: auto 5% auto;
  /* grid-template-columns: 60%; */
  background-color: lightgray;
  border-radius: 10px;
  margin-top: 15px;
  padding: 2%;
}

.task-text {
  grid-row: 2/2;
  grid-column: 1/4;
  color: black;
  padding: 0 2% 0 2%;
  width: 80%;
  margin: 0 2% 0 0;
  text-align: center;
  justify-items: center;
  word-break: break-all;
}

.date-text{
  grid-row: 1/2;
  grid-column: 1/1;
  color: rgb(46, 46, 46);
  margin:0 1px;
  padding:0;
}


.btn-delete {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: red;
  margin-left: auto;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.btn-delete:hover{
  background-color:yellow;
  cursor: pointer;
}

@media screen and (max-width:600px) {
  input, div, li{
    display:block;
    text-align: center;
  }
  input{
    width:80%;
    margin:auto;
  }
  .div-btn{
    display:block;
    text-align: center;
  }
  .container-task{
    display:block;
  }
  .tareasList{
    display:block;
    text-align: center;
  }
  .btn-add{
    margin-top:2%;
  }
}

